body {
  background-color: rgb(23, 30, 24);
}


.other-info {
  background-color: rgb(61, 81, 65);
}

.project h2 {
  background-color: rgb(61, 81, 62);
}
.project p {
  background-color: rgb(41, 61, 42);
}
