@use "node_modules/@picocss/pico/scss/pico";

main {
  width: calc(min(90%, 40rem));
  margin: auto;
}

iframe {
  width: 100%;
}

:root {
  pre code {
    color: #121212;
  }

  .function {
    color: #880000;
  }

  .comment {
    color: #008800;
  }

  .keyword {
    color: #880088;
  }

  .string {
    color: #884400;
  }

  .boolean {
    color: #000099;
  }
}

@media (prefers-color-scheme: dark) {
  :root:root {
    pre code {
      color: #ffffff;
    }

    .function {
      color: #ff8888;
    }

    .comment {
      color: #88ff88;
    }

    .keyword {
      color: #ff88ff;
    }

    .string {
      color: #ffaa77;
    }

    .boolean {
      color: #8888ff;
    }
  }
}
